@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,600&family=Send+Flowers&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: rgba(100, 148, 237, 0.459);
  
}

header nav section {
    background-color: rgba(128, 128, 128, 0.616);
    display: flex;
    justify-content: flex-end ;
    padding: 1rem;
}

header {
  background-image: url(./images/pic-saray.jpeg);
  background-size: cover;
}

h1 {
  font-family: "Send Flowers", cursive;
  margin-top: 46rem;
  margin-right: 16rem;
  margin-left: -36rem;
  transform: rotate(90deg);
  
  
}

h3 {
  text-transform: uppercase;
}

main {
    font-family: 'Poppins', sans-serif;
padding: 2rem;
}
main ul {
    box-shadow: 0.5em 0.5em rgba(0, 55, 255, 0.277);
  list-style: none;
  border: 2px solid blue;
  margin: 2rem;
  padding: 1rem;
}
 
.languages {
  font-weight: 600;
}


.aboutMe {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 2px solid blue;
  
}

.WorkExperience {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 2px solid blue;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-gap: 2rem;
   padding: 5rem;
  height: 70vh;
 
}

.one, .two, .three, .four, .five, .six { 
  background-color: rgba(255, 255, 255, 0.366);
  border: 1px solid blue;
}


.studies {
  padding-top: 4rem;
padding-bottom: 4rem;
border-bottom: 2px solid blue;
}

@media screen and (max-width: 660px){

  body {
    background-color: olive;
  }

}

header {
  background-image: url(./images/pic-saray.jpeg);
  background-size: cover;
}




@media screen and (max-width: 992px){

  body {
    background-color: rgba(153, 0, 255, 0.402);
  }
  
.WorkExperience {
  display: block;
}

}

header {
  background-image: url(./images/pic-saray.jpeg);
  background-size: cover;
}